<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>actor_4_f_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,96},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,96},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>actor_4_f_0_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,96},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>actor/4/actor_4_f_0.png</string>
      <key>size</key>
      <string>{384,192}</string>
      <key>textureFileName</key>
      <string>actor_4_f_0.png</string>
    </dict>
  </dict>
</plist>
